body {
    font-family: 'Roboto Condensed', sans-serif;
    color: #747704;
    font-weight: 300;
}

.text-muted {
    color: #7d97a4;
}

.title-super {
    font-size: 70px;
	color: #0511b5;
}

.title-logo {
    margin-top: 20px;
}

h4 {
	color: #0511b5;
	font-size: 30px;
}

